@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=dark_mode");
@import "tailwindcss";

:root {
  --text: #090d10;
  --text-h: #000;
  --bg: #f9fafc;
  --primary: #fff;
  --border: #e5e4e7;
  --text-accent: #f3f4f6;
  --accent: #2563ea;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(60, 110, 255, 0.9);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --heading: Nunito, "Segoe UI", Roboto, sans-serif;
  --nunito: Nunito, monospace;

  font: 12px var(--nunito);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
}
.dark {
  --text: #96939f;
  --text-h: #f3f4f6;
  --bg: #111828;
  --border: #343b4b;
  --primary: #202938;
  --accent: #61a5fa;
  --text-accent: #f3f4f6;
  --accent-bg: rgba(192, 132, 252, 0.15);
  --accent-border: rgba(60, 110, 255, 0.7);
  --social-bg: rgba(47, 48, 58, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
}
.light .logo {
  border-radius: 50%;
  padding: 0.5em;
  box-shadow: var(--shadow);
  background-color: var(--accent);
}
@layer components {
  .sh {
    box-shadow: var(--shadow);
  }
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #111828;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }
}*/

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
input {
  border-color: var(--border);
}
